{% extends 'room/breadcrumbs.html.twig' %}

{% block title %}Edit Room{% endblock %}

{% block body %}
    <h1>Edit Room</h1>

    {{ include('room/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('room_index', {'id': room.id, 'prop_id': property.id}) }}">back to list</a>

    {{ include('room/_delete_form.html.twig') }}
{% endblock %}
