{% extends 'base.html.twig' %}

{% block title %}Reset password{% endblock %}

{% block body %}
    <form method="post" action="{{ path('getpass') }}">
        <h1>Reset Password</h1>

        <label for="inputPassword" class="sr-only">New Password</label>
        <input type="password" name="password" id="inputPassword" class="form-control" minlength="6" maxlength="6"  placeholder="Password" required><br>

        <label for="inputPassword" class="sr-only">Repeat Password</label>
        <input type="password" name="repeat_password" id="inputPassword" class="form-control" minlength="6" maxlength="6" placeholder="Password" required>

        <button type="submit" value="reset">Reset</button>
    </form>

    {% if success is defined and success %}
        <div>
            {% trans %} newpass {% endtrans %}
        </div>
    {%  endif %}

    {% if mistake is defined and mistake %}
        <div>
            {% trans %} mistakepass {% endtrans %}
        </div>
    {%  endif %}

    <a href="{{ path('user_index') }}">back to profile</a>


{% endblock %}
